port: 3000 # 反代端口
cookieQuota: 15 # 每个cookie的配额限制
quotaRefreshTime: 7200000 # 配额恢复时间（单位为毫秒）
useHttpProxy: false # 使用HTTP代理
httpProxyUrl: http://localhost:7890 # HTTP代理URL
customCookieMode: false # 直接使用Cookie作为Key访问（详情见README.md“调用方式”一节）
roles: # Role前缀
  user: User
  assistant: Assistant
  system: System
